@media (min-width:1024px){

    .nosotros{
        @include main-tablet (repeat(6, 1fr),repeat(6, 1fr));
            grid-template-areas:
            "tit-nos tit-nos tit-nos . . ."
            "tit-nos tit-nos tit-nos foto-uno foto-uno foto-uno"
            ". . . foto-uno foto-uno foto-uno"
            "tit-text tit-text tit-text text-uno text-uno text-uno"
            "tit-text tit-text tit-text text-uno text-uno text-uno"
            "tit-text tit-text tit-text text-uno text-uno text-uno"
            
            
            ;    
        
        .tit-nos{
            grid-area: tit-nos;       
            background-color: $bg-principal;
            padding: 30px;
            h3{
                font-size: 35px;
                font-family: $typo-secundario;
            }
        }
        .foto-uno{
            grid-area: foto-uno;
            background-color: $bg-principal;
        }
        .tit-text{
            grid-area: tit-text;
            background-color: $bg-principal;
            h3{
                font-family: $typo-principal;
                font-size: 30px;
            }
        }
        .text-uno{
            grid-area: text-uno;
            background-color: $bg-principal;
            p{
                font-family: $typo-secundario;
                font-size: 30px;
            }
        }
        
    }





}