*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* inicio del header */

.titulo{
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "titulo__nombre"
    
    ;
}

.titulo__nombre{
    display: grid;
    justify-items: center;
    margin-top: 5px;
}


.barra-enlace{
    background-color: burlywood;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    
        
}

.barra-enlace li{
    list-style-type: none;
}

.barra-enlace li a{
    font-size: small;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/* fin del header */
/* inicio del main index*/

.sec-uno{
    display: grid;
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "div-uno"
    "div-dos"
    "div-tres"
    "div-cuatro"
    "div-cinco"
    "div-seis"
    ;
}
.div-uno{
    grid-area: div-uno;
    background-color: beige;
    
}
.div-uno p{
    text-align: center;
}
.div-dos{
    grid-area: div-dos;
    background-image: url(../assets/img/redy.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 50%;
}
.div-tres{
    grid-area: div-tres;
    background-color: burlywood;
}
.div-cuatro{
    grid-area: div-cuatro;
    background-color: beige;
}
.div-cinco{
    grid-area: div-cinco;
    background-color: burlywood;
}
.div-seis{
    grid-area: div-seis;
    background-color: beige;
}


/* fin del main index*/

/* inicio del main galeria */


/* fin del main galeria */
/*inicio del main nosotros*/


/*finde del main nosotros*/
/* incio del footer */

.pie-pag{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "info-contacto"
    "image"
    ;
}

.info-contacto{
    grid-area: info-contacto;
    background-color: rgb(240, 161, 58);
}

.image{
    grid-area: image;
    background-image: url(../assets/img/logo-redimen.png);
    background-size: contain;
    background-repeat: repeat;
}




/* fin del footer */



















