/*Tipografias*/
/*Colores BACKGROUND-COLOR*/
/*Colores letras*/
header {
  display: grid;
  height: auto;
  justify-content: center;
  align-items: end;
  text-align: center;
  font-size: 15px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: beige; }
  header .titulo {
    background-color: burlywood; }
  header .barra-enlace {
    background-color: burlywood;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
    header .barra-enlace li {
      list-style: none; }
      header .barra-enlace li a {
        text-decoration: none;
        color: black;
        font-size: 15px; }

main {
  background-color: beige; }
  main .sec-uno {
    display: grid;
    height: 550px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    font-size: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "div-uno" "div-dos" "div-tres" "div-cuatro"; }
    main .sec-uno .div-uno {
      grid-area: div-uno;
      justify-content: flex-start; }
      main .sec-uno .div-uno h3 {
        background-color: burlywood; }
    main .sec-uno .div-dos {
      grid-area: div-dos;
      background-color: beige;
      margin-bottom: 12px; }
      main .sec-uno .div-dos .fotito {
        border-radius: 50%; }
    main .sec-uno .div-tres {
      grid-area: div-tres;
      background-color: beige; }
      main .sec-uno .div-tres .foti {
        border-radius: 50%; }
    main .sec-uno .div-cuatro {
      grid-area: div-cuatro;
      background-color: beige; }
      main .sec-uno .div-cuatro h3 {
        font-family: "Roboto Condensed", sans-serif; }
      main .sec-uno .div-cuatro p {
        font-family: "Playfair Display", serif; }

footer {
  display: grid;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: burlywood; }
  footer .info-contacto {
    margin-top: 10px;
    margin-bottom: 10px; }
    footer .info-contacto p {
      font-family: "Playfair Display", serif; }
  footer .image {
    background-color: burlywood; }
    footer .image .imagee {
      border-radius: 50%;
      margin-top: 10px; }

.galery {
  display: grid;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "tit" "t-guno" "g-u" "tx-gu" "g-d"; }
  .galery .tit-parr {
    grid-area: tit;
    background-color: beige; }
    .galery .tit-parr h3 {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 30px; }
  .galery .tit-guno {
    grid-area: t-guno; }
    .galery .tit-guno h3 {
      font-family: "Roboto Condensed", sans-serif; }
  .galery .grupo-uno {
    grid-area: g-u; }
    .galery .grupo-uno .img-guno {
      border-radius: 50%;
      margin-top: 12px;
      margin-bottom: 12px; }
  .galery .text-guno {
    grid-area: tx-gu; }
    .galery .text-guno p {
      font-family: "Playfair Display", serif; }
  .galery .grupo-dos {
    grid-area: g-d; }
    .galery .grupo-dos .img-gdos {
      border-radius: 50%;
      margin-top: 12px;
      margin-bottom: 12px; }

.mainNosotros {
  display: grid;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: burlywood; }
  .mainNosotros .nosotros {
    display: grid;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: burlywood; }
    .mainNosotros .nosotros .tit-nos {
      background-color: beige; }
      .mainNosotros .nosotros .tit-nos h3 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 30px; }
    .mainNosotros .nosotros .foto-uno .foto-nos {
      border-radius: 50%; }
    .mainNosotros .nosotros .tit-text h3 {
      font-family: "Roboto Condensed", sans-serif; }
    .mainNosotros .nosotros .text-uno p {
      font-family: "Playfair Display", serif; }
    .mainNosotros .nosotros .fotos-guno .f-nos {
      border-radius: 50%; }

.mainNovedades {
  display: grid;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: burlywood; }
  .mainNovedades .novedades {
    display: grid;
    height: 550px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .mainNovedades .novedades .tit-nov {
      background-color: beige; }
      .mainNovedades .novedades .tit-nov h3 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 30px; }
    .mainNovedades .novedades .text-novu, .mainNovedades .novedades .text-novd {
      background-color: beige;
      font-family: "Roboto Condensed", sans-serif; }
    .mainNovedades .novedades .foto-novu {
      background-color: burlywood; }
      .mainNovedades .novedades .foto-novu .img-novu {
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 10px; }

.mainContacto {
  display: grid;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: beige; }
  .mainContacto .contacto {
    display: grid;
    height: 550px;
    justify-content: center;
    align-items: start;
    text-align: center;
    font-size: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-family: "Roboto Condensed", sans-serif; }

/* Inicio Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: burlywood;
    height: 150px; }
    header .titulo {
      display: grid;
      height: auto;
      justify-content: start;
      align-items: start;
      text-align: start;
      font-size: 30px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      background-color: beige; }
      header .titulo .titulo-nombre {
        margin-left: 35px;
        font-family: "Playfair Display", serif; }
    header .barra-enlace {
      background-color: burlywood;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      header .barra-enlace li {
        list-style: none; }
        header .barra-enlace li a {
          text-decoration: none;
          color: black;
          font-size: 30px; }
  main .sec-uno {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-areas: "div-uno div-uno div-dos" "div-cuatro div-cuatro div-dos" "div-cuatro div-cuatro div-tres" "div-cuatro div-cuatro div-tres";
    background-color: beige;
    height: 700px; }
    main .sec-uno .div-uno {
      grid-area: div-uno; }
      main .sec-uno .div-uno h3 {
        background-color: beige; }
    main .sec-uno .div-dos {
      grid-area: div-dos;
      background-color: beige;
      margin-bottom: 12px; }
      main .sec-uno .div-dos .fotito {
        border-radius: 50%; }
    main .sec-uno .div-tres {
      grid-area: div-tres;
      background-color: beige; }
      main .sec-uno .div-tres .foti {
        border-radius: 50%; }
    main .sec-uno .div-cuatro {
      grid-area: div-cuatro;
      background-color: beige; }
      main .sec-uno .div-cuatro h3 {
        font-family: "Roboto Condensed", sans-serif; }
      main .sec-uno .div-cuatro p {
        font-family: "Playfair Display", serif; }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". . ." "info-contacto info-contacto info-contacto" "image image image"; }
    footer .info-contacto {
      grid-area: info-contacto;
      margin-top: 10px;
      margin-bottom: 10px; }
      footer .info-contacto p {
        font-family: "Playfair Display", serif; }
    footer .image {
      grid-area: image;
      background-color: burlywood; }
      footer .image .imagee {
        border-radius: 50%;
        margin-top: 10px; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "tit tit tit-guno" "guno text-guno text-guno" "gdos gdos gdos"; }
    .galery .tit-parr {
      grid-area: tit;
      background-color: beige; }
      .galery .tit-parr h3 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 30px; }
    .galery .tit-guno {
      grid-area: tit-guno; }
      .galery .tit-guno h3 {
        font-family: "Roboto Condensed", sans-serif; }
    .galery .grupo-uno {
      grid-area: guno; }
      .galery .grupo-uno .img-guno {
        border-radius: 50%;
        margin-top: 12px;
        margin-bottom: 12px; }
    .galery .text-guno {
      grid-area: text-guno; }
      .galery .text-guno p {
        font-family: "Playfair Display", serif; }
    .galery .grupo-dos {
      grid-area: gdos; }
      .galery .grupo-dos .img-gdos {
        border-radius: 50%;
        margin-top: 12px;
        margin-bottom: 12px; } }

/*inicio desktop*/
@media (min-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". . . . . ." "titulo titulo . . . ." ". .  barra barra barra barra";
    height: 150px; }
    header .titulo-nombre {
      grid-area: titulo;
      margin-left: 35px;
      font-family: "Playfair Display", serif; }
    header nav {
      grid-area: barra; }
      header nav .barra-enlace {
        background-color: burlywood;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; }
        header nav .barra-enlace li {
          list-style: none; }
          header nav .barra-enlace li a {
            text-decoration: none;
            color: black;
            font-size: 30px; }
  main .sec-uno {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "div-uno div-uno div-dos div-dos div-dos div-dos" "div-uno div-uno div-dos div-dos div-dos div-dos" "div-cuatro div-cuatro div-dos div-dos div-dos div-dos" "div-cuatro div-cuatro div-tres div-tres div-tres div-tres" "div-cuatro div-cuatro div-tres div-tres div-tres div-tres" "div-cuatro div-cuatro div-tres div-tres div-tres div-tres"; }
    main .sec-uno .div-uno {
      grid-area: div-uno;
      margin-top: 15px; }
      main .sec-uno .div-uno h3 {
        background-color: beige; }
    main .sec-uno .div-dos {
      grid-area: div-dos;
      background-color: beige;
      margin-top: 12px; }
      main .sec-uno .div-dos .fotito {
        border-radius: 50%; }
    main .sec-uno .div-tres {
      grid-area: div-tres;
      background-color: beige; }
      main .sec-uno .div-tres .foti {
        border-radius: 50%; }
    main .sec-uno .div-cuatro {
      grid-area: div-cuatro;
      background-color: beige; }
      main .sec-uno .div-cuatro h3 {
        font-family: "Roboto Condensed", sans-serif; }
      main .sec-uno .div-cuatro p {
        font-family: "Playfair Display", serif; } }

@media (min-width: 1024px) {
  .galery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "tit tit tit tit tit" "tit-guno tit-guno . . . " "guno guno guno guno guno" "text-guno text-guno text-guno text-guno text-guno" "gdos gdos gdos gdos gdos"; }
    .galery .tit-parr {
      grid-area: tit;
      background-color: beige; }
      .galery .tit-parr h3 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 30px; }
    .galery .tit-guno {
      grid-area: tit-guno; }
      .galery .tit-guno h3 {
        font-family: "Roboto Condensed", sans-serif; }
    .galery .grupo-uno {
      grid-area: guno; }
      .galery .grupo-uno .img-guno {
        border-radius: 50%;
        margin-top: 12px;
        margin-bottom: 12px; }
    .galery .text-guno {
      grid-area: text-guno; }
      .galery .text-guno p {
        font-family: "Playfair Display", serif; }
    .galery .grupo-dos {
      grid-area: gdos; }
      .galery .grupo-dos .img-gdos {
        border-radius: 50%;
        margin-top: 12px;
        margin-bottom: 12px; } }
