*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* inicio del header */

.titulo{
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "titulo__nombre"
    
    ;
}

.titulo__nombre{
    display: grid;
    justify-items: center;
    margin-top: 5px;
}


.barra-enlace{
    background-color: burlywood;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    
        
}

.barra-enlace li{
    list-style-type: none;
}

.barra-enlace li a{
    font-size: small;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

/* fin del header */
/* inicio del main index*/

.sec-uno{
    display: grid;
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "div-uno"
    "div-dos"
    "div-tres"
    "div-cuatro"
    "div-cinco"
    "div-seis"
    ;
}
.div-uno{
    grid-area: div-uno;
    background-color: beige;
    
}
.div-uno p{
    text-align: center;
}
.div-dos{
    grid-area: div-dos;
    background-image: url(../assets/img/redy.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 50%;
}
.div-tres{
    grid-area: div-tres;
    background-color: burlywood;
    background-image: url(../assets/img/redy.jpg);
    background-size: contain;
    background-repeat: repeat;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
}
.div-cuatro{
    grid-area: div-cuatro;
    background-color: beige;

}
.div-cuatro h3{
    color: cornflowerblue;
}

.div-cuatro p{
    color: green;
}
.div-cinco{
    grid-area: div-cinco;
    background-color: burlywood;
}
.div-seis{
    grid-area: div-seis;
    background-color: beige;
}


/* fin del main index*/

/* inicio del main galeria */
.galery{
    display: grid;
    height: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "tit-parr"
    "foto-promo"
    "tit-guno"
    "grupo-uno"
    "tit-gdos"
    "grupo-dos"
    "tit-gtres"
    "grupo-tres"
    ;


}

.tit-parr{
    grid-area: tit-parr;
    background-color: aqua;
}
.foto-promo{
    grid-area: foto-promo;
    background-color: red;
}
.tit-guno{
    grid-area: tit-guno;
    background-color: rgb(0, 255, 55);
}
.grupo-uno{
    grid-area: grupo-uno;
    background-color: rgb(238, 255, 0);
}
.tit-gdos{
    grid-area: tit-gdos;
    background-color: rgb(25, 0, 255);
}
.grupo-dos{
    grid-area: grupo-dos;
    background-color: rgb(234, 0, 255);    
}
.tit-gtres{
    grid-area: tit-gtres;
    background-color: rgb(255, 0, 76);
}
.grupo-tres{
    grid-area: grupo-tres;
    background-color: rgb(255, 166, 0);
}



/* fin del main galeria */
/*inicio del main nosotros*/

.nosotros{
    display: grid;
    height: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "tit-nos"
    "foto-uno"
    "tit-text"
    "text-uno"
    "fotos-guno"
    ;
}


.tit-nos{
    grid-area: tit-nos;
    background-color: aqua;
}
.foto-uno{
    grid-area: foto-uno;
    background-color: rgb(0, 255, 85);
}
.tit-text{
    grid-area: tit-text;
    background-color: rgb(17, 0, 255);
}
.text-uno{
    grid-area: text-uno;
    background-color: rgb(255, 0, 30);
}
.fotos-guno{
    grid-area: fotos-guno;
    background-color: rgb(255, 170, 0);
}



/*finde del main nosotros*/
/*inicio del main novedades */
.novedades{
    display: grid;
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "tit-nov"
    "text-novu"
    "foto-novu"
    "text-novd"
    "foto-novd"
    ;
}

.tit-nov{
    grid-area: tit-nov;
    background-color: rgb(255, 0, 242)
}
.text-novu{
    grid-area: text-novu;
    background-color: rgb(255, 77, 0)
}
.foto-novu{
    grid-area: foto-novu;
    background-color: rgb(255, 238, 0)
}
.text-novd{
    grid-area: text-novd;
    background-color: rgb(19, 59, 170)
}
.foto-novd{
    grid-area: foto-novd;
    background-color: rgb(0, 215, 43)
}


/*fin del main novedades*/
/*inicio del main contacto*/

.contacto{
    display: grid;
    height: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "tit-con"
    "formulario"
    ;
}
.tit-con{
    grid-area: tit-con;
    background-color: rgb(246, 255, 196);
}
.formulario{
    grid-area: formulario;
    background-color: rgb(58, 206, 107);
}

/*fin del main contacto*/
/* incio del footer */

.pie-pag{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "info-contacto"
    "image"
    ;
}

.info-contacto{
    grid-area: info-contacto;
    background-color: rgb(240, 161, 58);
}

.image{
    grid-area: image;
    background-image: url(../assets/img/logo-redimen.png);
    background-size: contain;
    background-repeat: repeat;
}




/* fin del footer */


/*inicio de tablet*/
/*inicio del main index*/
@media (min-width:768px){

.sec-uno{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "div-uno div-dos div-tres"
    "div-cuatro div-cinco div-seis"
    "div-cuatro div-cinco div-seis"
    ;
}

.div-uno{
    grid-area: div-uno;
    background-color: blue;
}
.div-dos{
    grid-area: div-dos;
}
.div-tres{
    grid-area: div-tres;
}
.div-cuatro{
    grid-area: div-cuatro;
}
.div-cinco{
    grid-area: div-cinco;
}
.div-seis{
    grid-area: div-seis;
}
/*fin del main index*/
/*inicio del main galeria*/

.galery{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "tit-parr tit-parr foto-promo foto-promo"
    "tit-guno tit-guno grupo-uno grupo-uno"
    "tit-gdos tit-gdos grupo-dos grupo-dos"
    "tit-gtres tit-gtres grupo-tres grupo-tres"

    
    
    
    ;
}

.tit-parr{
    grid-area: tit-parr;
}
.foto-promo{
    grid-area: foto-promo;
}
.tit-guno{
    grid-area: tit-guno;
}
.grupo-uno{
    grid-area: grupo-uno;
}
.tit-gdos{
    grid-area: tit-gdos;
}
.grupo-dos{
    grid-area: grupo-dos;
}
.tit-gtres{
    grid-area: tit-gtres;
}
.grupo-tres{
    grid-area: grupo-tres;   
}








/*fin del main galeria*/










}
/*fin de tablet*/












