header{
    @include codigo-header (center, end,center,15px, repeat(1, 1fr), repeat(2, 1fr));
        background-color: $bg-principal;
        .titulo{    
            background-color: $bg-secundario;
            
        }

        .barra-enlace{
            background-color: $bg-secundario;
            display: flex;
            
            flex-flow: row wrap;
            justify-content: space-evenly;
            
            li{
                list-style: none;            
                a{
                    text-decoration: none;
                    color:  black;
                    font-size: 15px;
                }
            }
        }
    }
        
    