/*Tipografias*/

$typo-principal: 'Roboto Condensed', sans-serif;
$typo-secundario: 'Playfair Display', serif;

/*Colores BACKGROUND-COLOR*/

$bg-principal: beige;
$bg-secundario: burlywood;
$bg-pruebau:red;
$bg-pruebad:aqua;
$bg-pruebat:green;
$bg-pruebac:blue;

/*Colores letras*/
$typo-color: black;
$typo-colorDos: rgb(145, 115, 76)
