header{
    @include header-mobile (repeat(1, 1fr), repeat(1, 1fr));
            grid-template-areas: 
            "navbar"
            ;
            height: 90px;
            .navbar{
                grid-area: navbar;
                
            }
        }