    .novedades{
    @include codigo-main (center,center,center,20px,repeat(1, 1fr),repeat(4, 1fr));
        grid-template-areas: 
        "tit-nov"
        "text-novu"
        "foto-novu"
        "text-novd"
        ;
        .tit-nov{
            grid-area: tit-nov;
            background-color: $bg-principal;
            h3{
                font-family: $typo-principal;
                font-size: 30px;
            }
        }
        .text-novu{
            grid-area: text-novu;
            background-color: $bg-principal;
            font-family: $typo-principal;
        }
        .foto-novu{
            grid-area: foto-novu;
            background-color:$bg-secundario;
            border-radius: 30%;
            margin-left: 15px;
            margin-right: 15px;
            .img-novu{
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .text-novd{
            grid-area: text-novd;
            @extend .text-novu;
        }
    }
